<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlliteproject"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.Camera" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FaceTrackerActivity"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"> </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/NoBarAppTheme"></activity>
        <activity
            android:name=".NoInternet"
            android:theme="@style/NoBarAppTheme" />
        <activity android:name=".ViewPost" />
        <activity android:name=".ProfileDetails" />
        <activity android:name=".EditProfile" />
        <activity
            android:name=".ViewComments"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".NewPost"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoBarAppTheme"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoBarAppTheme">

        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/NoBarAppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>